*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1522px;
    margin: 0 auto;

}
.header{
    position: absolute;
    width: 100%;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo img{
    width: 100%;
}
.logo{
    max-width: 9%;
    
}
.nav-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.bnr-menu ul{
    display: flex;
    list-style: none;
}    
.bnr-menu ul li a{
    color: #ffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-decoration: none;
    margin: 18px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform:capitalize;
}
.bnr-menu ul li:hover{
    border-bottom: 1px solid #d6e0e9;
}
.common-btn a{
    color: #ffff;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3498eb;
    padding: 10px 19px;
    border: none;
    line-height: 1;
    text-transform:capitalize;
    display: inline-block;

}
.common-btn{
    text-align: center;
}
.common-btn a:hover{
    color: #000;
    background-color: #b7d1eb;
}
.phn-num{
    text-align: center;
    display: flex; 
    align-items: center;
    gap: 4px;
}
.phn-num a{
    color: #ffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;  
    line-height:1;

}
.banner-bgnd{
    background: url(./banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 500px 0 20px;
}
.banner-content{   
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;   
}
.banner-content h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffff;
    margin-bottom: 20px;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform:capitalize;

}
.banner-content p{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100px;
    color: #ffff;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform:capitalize;

}
.items-block .container{
    max-width: 100%;
}

.second-sec{
    font-size: 30px;
    font-family: "Funnel Sans", sans-serif;
    font-weight: 500;
    color: #000;
    text-align: center;
    line-height: 1;
    padding-top: 50px;
    margin-bottom: 50px;
}
.second-sec strong{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

.imgs-sec{
    display: flex;
}
.futures-sec{
    display: flex;
    padding-bottom: 40px;
}
.card1 img{
   width: 100%;
    
}
.card1{
    width: 23%;
    margin: 1%;
    
}
.card1 h3{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 14px;
    line-height: 1;
    text-transform:capitalize;

}
.card1 p{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    text-align: center; 
    margin: 0 25px ; 
    line-height: 1.4;
    text-transform:capitalize;
}
.sec-3{
   padding: 60px 0;
   background-color: #616c76;

}
.sec-3 .container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.sec3-content{
    margin: 0 80px 0 80px;
}
.sec3-content h3{
    font-size: 30px;
    font-family:"Funnel Sans", sans-serif ;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    text-transform:capitalize;
    padding: 20px 0;
}
.sec3-content small{
    font-size: 25px;
    font-family:"Funnel Sans", sans-serif ;
    font-weight: 100;
    color: #0a2136;
    text-align: center;
    line-height: 1;
    text-transform:capitalize;
}
.sec3-content p{
    font-size: 15px;
    font-family:"Funnel Sans", sans-serif ;
    font-weight: 400;
    color: #010f1c;
    text-align: center;
    line-height: 1;
    text-transform:capitalize;
    margin:20px;
}

.sec-3-img{
    width: 100%;
}
.matter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.sec-4 {
    background-color: #616c76;
}
.sec-4 .container{
    max-width: 1440px;
}
.sec-4-in{
    display: flex;
    background-color:#296596;
    align-items: center;
    justify-content: space-between;
      
}
.sec4-img{
    width: 30%;
}
.sec4-img img{
    width: 100%;
}
.sec-4-in .para{
    width: 60%;
    text-align: center;
    
}
.sec-4-in .para h4{
    font-size: 50px;
    font-family: "Gelasio", serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 60px;
    line-height: 1;
    text-transform:capitalize;

}
.sec-4-in .para p{
    font-size: 22px;
    font-family: "Inter", serif;
    font-weight: 400;
    color: #b7d1eb;
    line-height: 1.45;
    margin-bottom: 35px;
    letter-spacing: 1px;
    text-transform:capitalize;

}
.sec-4-in .para h3{
    font-size: 60px;
    font-family: "Licorice", serif;
    font-weight: 400;
    color: #b7d1eb;
    margin: 0;
    letter-spacing: 10px;
    line-height: 1;
    text-transform:uppercase;

}
.sec4-content{
    padding: 0 95px 0 0;
}
.health-title{
    text-align: center;
    padding: 70px 0 70px 0;
}
.health-title h2{
    font-size: 70px;
    color: #0d111c;
    font-family: "Gelasio", serif;
    font-weight: 300;
    line-height: 1.14;

}
.health-title strong{
    font-family: "Gelasio", serif;
    font-weight: 600;
    font-style: italic;

}
.health-cont{
    background: url(./Health-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 100px ;
}
.health-cont .container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.hlt-para1{
    width: 55.3%;
    text-align: center;

}
.hlt-para1 h3{
    font-size: 32px;
    font-family: "Gelasio", serif;
    font-weight: 400;
    color: #0d111c;
    line-height: 1.4;
    margin-bottom: 54px;
}
.hlt-para1 p{
    font-family: "Inter", serif;
    font-weight: 400;
    color: #0d111c;
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 70px;
}
.phn-num p{
    font-size: 23px;
    font-family: "Inter", serif;
    color: #291f1f;
}
.btn-ph-num{
    display: flex;
    justify-content: center;
    gap:30px;
}
.btn-ph-num .phn-num a{
    color: #000;
}
.hlt-para1{
    font-size: 20px;
    font-family: "Inter", serif;
    font-weight: 400;
    color: #5d5b63;
    line-height: 1;
    
}
.pround-sec{
    padding: 87px 0;
    text-align: center;
}
.pround-sec h2{
    font-size: 70px;
    font-family: "Gelasio", serif;
    font-weight: 300;
    color: #34567b;
    line-height: 1;
    margin: 0 0 35px;
}
.pround-sec strong{
    font-weight: 600;
    font-style: italic;
}
.proud-num-block {
    display: flex;
    justify-self: center;
    
}
.proud-item{
    margin: 0 50px;
}
.proud-item h3{
    font-size: 25px;
    color: #000000;
    line-height: 1.2;
    font-family: "Gelasio", serif;
    font-weight: 400;
    margin: 0;
    font-style: italic;
}
.proud-item strong{
    font-size: 60px;
    display: block;
    font-style: normal;
    margin-bottom: 12px;
    font-weight: 400;
}
.counseling{
    background: url(./choose.bnr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px;
}
.counseling .container{
    max-width: 1615px;
}
.counslg{
    display: flex;
    gap: 5%;
}
.coun-left{
    width: 50%;
    text-align: right;
    margin-top: 70px;
}
.coun-left .common-btn{
    text-align: right;
}
.coun-right{
    width: 46%;
   
}

.cn-item{
    display: flex;
    gap: 10px;
    align-items: center;
    border-top: 2px solid #4e6a8a;
    padding: 25px 0;
}
.coun-heading h2{
    color: #ffff;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.5;
    text-transform: capitalize;
    

}
.coun-heading strong{
     color: #ffff;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;

}
.right-itms{
    padding: 35px 10px;
  
    padding-left:
}
.right-itms{

}
.cn-item img{
    width: 70px;
    height: 70px;
    
}
.cn-content h4{
    font-size: 19px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 6px ;
    position: relative;
}
.cn-content p{
    font-family:"Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #b7d1eb;
    line-height: 1.3;
    letter-spacing: 0.6px; 
    text-transform: capitalize; 
}
.growth-sec{
    padding: 75px 0;
    background-color: #f8f6f5;
}
.growth-sec .container{
    width: 100%;
    max-width: 1522px;
}
.growth h2{
    font-family: "Gelasio", serif;
    font-weight: 300;
    font-size: 70px;
    line-height: 1.11;
    color: #0d111c;
    margin-bottom: 56px;
    text-align: center;
}
.growth strong{
    font-weight: 600;
    font-style: italic;
    display: block;
}
.grow-blocks{
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}
.grow-itms{
    text-align: center;
    padding: 80px 35px 83px;
    width: 31.54%;
    background-color: #fff;
}
.grow-itms h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 0.6;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 6px;
}
.grow-itms h6{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #665c5c;
    letter-spacing: 1.8px;
    line-height: 1.9;
    text-transform: capitalize;
}

.inspir-sec{
    padding: 50px 0  ;
}
.inspir-tit{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 60px;
}
.inspir-tit h2{
    font-size: 70px;
    color: #0d111c;
    font-family: "Gelasio", serif;
    font-weight: 300;
    line-height: 1.14;
    margin-bottom: 30px;
}
.inspir-tit strong{
    font-family: "Gelasio", serif;
    font-weight: 600;
    font-style: italic;
}
.inspir-sec a{
    display: inline-block;
    background: #34567b;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-family: "Inter", serif;
    font-weight: 500;
    padding: 20px 40px;
    line-height: 1;
    border-radius: 4px;
    border: 0;
}
.inspir-sec a:hover{
    color: #000;
    background-color: #b7d1eb;
}

.insp-cards{
    display: flex;    
}
.insp-item{
    margin: 0 0 0 20px;
}
.insp-item img{
   width: 100%;
   height: auto;
    display: block;
}
.insp-content h6{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #34567b;
    margin: 10px;
    line-height: 1;
    text-transform: capitalize;

}
.insp-content h4{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #34567b;
    margin: 10px;
    line-height: 1;
    text-transform: capitalize;

}
.insp-content a{
    margin: 10px;

}

.insp-content{
    border-left: 1px solid black;
}
.old-man-sec{
    background: url(./output-onlinepngtools.png);
    background-position: 75% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
}
.old-man-sec .container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
}
.old {
    width: 49%;
    margin: 0 0 0 auto;
}
.old h3{
    font-size: 70px;
    font-family: 'Gelasio 9pt';
    font-weight: 300;
    line-height: 1;
    margin-bottom: 30px;
}
.old strong{
    font-size: 70px;
    font-family: 'Gelasio 9pt';
    font-weight: 600;
    font-style: italic;
    line-height: 1;
    
}
.old p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #296596;
    line-height: 1;
    letter-spacing: 0.5;
    margin-bottom: 30px;

}
.old .common-btn{
    text-align: start;
    margin: 0;
}
.help-sec{
    background-color: #163d66;
    padding: 100px;
}
.help-list{
    margin: 0 auto;
}
.help-list h3{
    font-size: 70px;
    font-family: 'Gelasio 9pt';
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 33px;
    text-align: center;
}
.help-list strong{
    font-size: 70px;
    font-weight: 600;
    font-style: italic;
}
.help-list p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 0;
    color: #fff;
    margin: 0 0 55px 0;
    text-align: center;
}
.form-sec{
   
    
    margin: 0 auto;
}

.frm-1{
    display: flex;
   justify-content: center;
   gap: 20px;
   margin-bottom: 20px;
}   
.frm-1 .inpt{
   color: #ffff;
    background-color: #547493;
    width: 30%;
    padding: 18px;
    border: none;
    border-radius: 3px;
}
.frm-1 input::placeholder{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.help a{
    margin-right: 861px;
}
.fotter-head-sec{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.ftr-lft img{
    width: 50%;
}
.ftr-lft{
    width:30% ;
}
.ftr-rght{
    width: 70%;
}
.ftr-1-line ul{
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
.ftr-1-line li{
    list-style: none;
    margin: 0 20px;
}
.ftr-1-line a{
    text-decoration: none;
    color: #0d111c;
}
.ftr-2-line{
    display: flex;
    margin: 20px 0 0 0;
}
.ftr-icons{
    display: flex;
}
.ftr-icons img{
    width: 40px;
    height: 40px;
    margin-right: 9px;
    cursor: pointer;
}
.google-icon{
    display: flex;
    
}
.ggl{
    margin-left: 29px;
}
.google-icon img{
    width: 130px;
    height: 50px;
    cursor: pointer;   
}
.ftr-phn{
    text-align: right;
}
.ftr-phn a{
    color: #000;
}
.ftr-1-line a{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-transform: capitalize;
}
.ftr-1-line {
    margin-bottom: 20px;
}
.ftr-1-line a:hover{
    color: #3498eb;
}





